<div id="roles-sidebar" class="side-nav fixed z-depth-2 style-5" *ngIf="isExpanded">
    <ul [ngSwitch]="currentUser.role">
        <ng-container *ngIf="hasSection('SAMPLE_SECTION')">
            <ng-container *ngTemplateOutlet="sampleSection"></ng-container>
        </ng-container>
    </ul>
</div>

<ng-template #sampleSection>
    <li>
        <div class="side-nav-category list-item">
            <i class="material-icons">assignment_ind</i>
            <span>{{'general.texts.demo.sectionHeader' | translate}}</span>
        </div>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/sample"
           *ngIf="hasPermission('SAMPLE_PERMISSION')"
           class="list-item">
            <i class="material-icons">security</i>
            <span>{{'general.texts.demo.sectionText' | translate}}</span>
        </a>
    </li>
</ng-template>

<ng-template #newIcon>
    <i class="material-icons notification">fiber_new</i>
</ng-template>
