:host {
    .plants-create-modal {
        width: 100%;
    }

    .modal-title{
        font-weight: bold;
        font-size: 2em;
    }

    .plantForm {
    }
    .picklist-container{
        padding:15px;
    }
}

