<div class="container card">
    <div *ngIf="!loginUsingCredentials && !this.authInfoModal.isOpen()" appHIDScanner
         (scannerEvent)="onScan($event)"></div>
    <h1><img src="../../../assets/images/enginizer-logo.png"></h1>
    <div class="row content">
        <div class="col s10 offset-s1">
            <button class="btn btn-primary credentials-button"
                    (click)="onCredentialsSwitch()"
                    [disabled]="isLoginInProgress">{{ (loginUsingCredentials ? 'generic.components.auth.buttons.badge' :
                'generic.components.auth.buttons.credentials') | translate }}
            </button>
            <ng-container *ngIf="loginUsingCredentials">
                <app-credentials-form (successfulLogin)="handleLogin($event);"
                                      (loginFailure)="handleError($event);"></app-credentials-form>
            </ng-container>
            <ng-container *ngIf="!loginUsingCredentials">
                <div class="input-field">
                    <h5 class="modal-title">{{'generic.components.auth.scanBadge'|translate}}</h5>
                    <div class="scanner-status">
                        <span *ngIf="focused"
                              class="message ok">{{'generic.components.scanner.focused' | translate}}</span>
                        <span *ngIf="!focused"
                              class="message not-ok">{{'generic.components.scanner.notFocused' | translate}}</span>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="loginError">
                    <strong>{{'generic.labels.error' | translate}} </strong> {{'generic.components.auth.invalidCredentialsError' | translate }}
                </div>
            </ng-container>
            <img *ngIf="isLoginInProgress" src="assets/images/atom_loading_spinner.gif"
                 style="width: 60px; height: auto;">
        </div>
    </div>
    <div class="language-flags">
        <span>{{ 'generic.components.home.select' | translate }}</span>
        <img src="/assets/i18n/en.png"
             class="img-responsive"
             (click)="translate('en')">
        <img src="/assets/i18n/ro.png"
             class="img-responsive"
             (click)="translate('ro')">
    </div>
</div>
<app-authentication-info-modal
    (scanEvent)="insertBadge($event)"
    title="{{'generic.components.auth.authenticationInfo' | translate}}"
    missingRoleMessage="{{'generic.components.auth.missingRole' | translate}}"
    missingBadgeIdMessage="{{'generic.components.auth.badgeId' | translate}}"
    [displayScanMode]="!userHasBadgeAuth">
</app-authentication-info-modal>
