@import 'src/styles/_variables.scss';
@import 'src/styles/style.scss';

:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: $bosch_light_blue;

    .container {
        width: 600px;
        margin: auto;

        .content {
            min-height: 280px;
        }
    }

    .login-content {
        .login-form {
            height: 500px;

            h1 {
                font-weight: 600;
            }

            span {
                margin-bottom: 30px;
            }

            .credentials-button {
                margin-top: 30px;
            }
        }

        .language-flags {
            margin-bottom: 100px;

            img {
                cursor: pointer;
            }
        }
    }
}

.methods {
    height: 260px;

    .col {
        height: 100%;
    }
}

.badge-scanner {
    display: block;
}

.language-flags {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 50px;
        margin-left: 20px;
    }
}

:host ::ng-deep {

    .container {
        .content {
            .alert-danger {
                background-color: $bosch_red;
                color: white;
                padding: 2px;
                border-radius: 3px;
            }
        }
    }

    .scanner-status {
        font-weight: 800;
        text-align: center;

        .ok {
            color: green;
        }

        .not-ok {
            color: red;
        }
    }
}
