<div appBadgeScanner (scannerEvent)="onScan($event)"></div>
<label *ngIf="label && leftAlignLabel">{{label}}</label>
<div class="input-field" [class.invalid]="hasError">
    <input [(ngModel)]="value"
           [placeholder]="placeholder"
           [disabled]="true"
           type="text">
    <i *ngIf="value" class="material-icons clear-button" (click)="onClear()">clear</i>
    <label class="active"
           *ngIf="label && !leftAlignLabel">{{label}}</label>
    <app-form-error-list *ngIf="showErrors"
                         [errorMap]="formControl.errors"></app-form-error-list>
</div>
