@import 'src/styles/_variables.scss';

:host {
    /deep/ {

        input[type="text"]:disabled {
            color: #2c2b31;
        }

        .input-field {

            .clear-button {
                position: absolute;
                top: 10px;
                right: 0.75rem;
            }

            .clear-button:hover {
                cursor: pointer;
                color: #e51c23;
            }

        }
    }
}
