<app-table [data]="roles"
           [config]="tableConfig"
           title="{{'roles.admin.roles.table.title' | translate}}"
           [rowExpand]="false"
           [isLoading]="isLoading"
           (sortChange)="onSortChange($event)"
           (filterChange)="onFilterChange($event)"
           (pageChange)="onPageChange($event)"
           (rowClick)="onRowClick($event)">
    <app-table-column header="{{'roles.admin.roles.table.columns.roleName' | translate}}"
                      filter="true"
                      filterPlaceholder="{{'roles.admin.roles.table.filter.placeholder.name' | translate}}"
                      sortable="true"
                      field="name">
        <ng-template #body
                     let-role="rowData">
            <span>{{getRoleName(role)}}</span>
        </ng-template>
    </app-table-column>
</app-table>
