<form data-toggle="validator"
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="onSubmit(forgetPasswordForm)"
      class="auth-form auth-form--centered">
    <app-input
        [formControl]="forgetPasswordForm.controls.email"
        [id]="'email'"
        [type]="'email'"
        label="{{'general.components.form.placeholders.email' | translate}}"
        [showErrors]="showValidations">
    </app-input>

    <button
        type="submit"
        class="btn-flat waves-effect waves-dark auth-form__submit"
        [attr.disabled]="loading ? 'true' : null">
        {{'general.actions.submit' | translate}}
    </button>
</form>
