<form data-toggle="validator"
      [formGroup]="confirmPasswordForm"
      class="auth-form auth-form--centered"
      (ngSubmit)="onSubmit(confirmPasswordForm)">


    <app-input
        [formControl]="confirmPasswordForm.controls.password"
        [id]="'password'"
        [type]="'password'"
        label="{{'general.components.form.placeholders.password' | translate}}"
        [placeholder]=" "
        [showErrors]="showValidations">
    </app-input>

    <app-input
        [formControl]="confirmPasswordForm.controls.confirmPassword"
        [id]="'passwordConfirmation'"
        [type]="'password'"
        label="{{'general.components.form.placeholders.passwordConfirmation' | translate}}"
        [placeholder]=" "
        [showErrors]="showValidations">
    </app-input>

    <button
        type="submit"
        class="btn-flat waves-effect waves-dark auth-form__submit"
        [attr.disabled]="loading ? 'true' : null">
        {{'general.actions.submit' | translate}}
    </button>
</form>
