<div id="roles-sidebar" class="side-nav fixed z-depth-2 style-5" *ngIf="currentUser">
    <ul [ngSwitch]="currentUser.role">
        <ng-container *ngSwitchCase="'ADMIN'">
            <!-- Users & Roles -->
            <ng-container *ngIf="hasSection('USER_ROLE_SECTION')">
                <ng-container *ngTemplateOutlet="usersAndRoles"></ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <!-- Users & Roles -->
            <ng-container *ngIf="hasSection('USER_ROLE_SECTION')">
                <ng-container *ngTemplateOutlet="usersAndRoles"></ng-container>
            </ng-container>
        </ng-container>
    </ul>
    <div class="spacer"></div>
    <ul class="align-bottom">
        <li routerLinkActive="active">
            <a routerLink="/demo"
               class="list-item">
                <i class="material-icons">dashboard</i>
                <span>{{'generic.nav.sections.demo.title' | translate}}</span>
            </a>
        </li>
    </ul>
</div>

<ng-template #usersAndRoles>
    <li>
        <div class="side-nav-category list-item">
            <i class="material-icons">assignment_ind</i>
            <span>{{'generic.nav.sections.usersAndRoles.title' | translate}}</span>
        </div>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/roles"
           *ngIf="hasPermission('VIEW_ROLES')"
           class="list-item">
            <i class="material-icons">security</i>
            <span>{{'generic.nav.sections.usersAndRoles.items.roles' | translate}}</span>
        </a>
    </li>
    <li routerLinkActive="active"
        *ngIf="hasPermission('VIEW_USERS')">
        <a routerLink="/users"
           class="list-item">
            <i class="material-icons">group</i>
            <span>{{'generic.nav.sections.usersAndRoles.items.users' | translate}}</span>
        </a>
    </li>
</ng-template>

<ng-template #newIcon>
    <i class="material-icons notification">fiber_new</i>
</ng-template>
