.label-left {
    display: flex;
    align-items: center;

    label {
        flex-basis: 100px;
        padding-bottom: 24px;
        padding-right: 24px;
        font-size: 1rem;
    }

    .input-field {
        flex: 1;
        margin-top: 0;
        height: auto;
    }
}

.input-field,
.input-file {
    height: 70px;
    margin-bottom: 10px;

    &.invalid {
        input {
            border-bottom: 1px solid red !important;
            box-shadow: 0 1px 0 0 red !important;
        }

        label {
            color: red !important;
        }

        .errors {
            position: absolute;
            bottom: 0;
        }
    }
}

.table-column {
    .input-field {
        height: 48px;
        margin: 0;
    }
}

.btn-small {
    padding: 0 1rem;
    display: flex;

    i {
        margin-right: .5rem;
    }
}
