@import 'src/styles/style.scss';

:host {

    .errors {
        padding: 0;
        margin: 10px 0 0;
        list-style: none;
        color: red;

        li {
            font-size: 12px;
            text-align: left;
        }
    }
}
