@import 'src/styles/main';

:host {

    .page-header {
        text-align: center;
    }

    .page-content {
        padding: 0 24px;
        background-color: theme-color('background', 'base');

        .card {
            h5 {
                padding: 24px 0;

                .invalid {
                    color: darkred;
                }
                .valid {
                    color: darkgreen;
                }
            }
            padding: 40px;
            min-height: 60vh;
        }
    }
}
