@import 'src/styles/main';

:host ::ng-deep {
    input[type=range] {
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: theme-color('primary', 'base');
    }

    input[type=range] + .thumb {
        background-color: theme-color('primary', 'base') !important;
    }

    input[type=range]:focus {
        outline: none;
    }
}
