<form data-toggle="validator" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="auth-form">

    <app-input
        [formControl]="loginForm.controls.email"
        [id]="'email'"
        [type]="'email'"
        label="{{'general.components.form.placeholders.email' | translate}}"
        [placeholder]=" "
        [showErrors]="showValidations">
    </app-input>

    <app-input
        [formControl]="loginForm.controls.password"
        [id]="'password'"
        [type]="'password'"
        label="{{'general.components.form.placeholders.password' | translate}}"
        [placeholder]=" "
        [showErrors]="showValidations">
    </app-input>

    <button
        type="submit"
        class="btn-flat waves-effect waves-dark auth-form__submit">
        {{'general.actions.login' | translate}}
    </button>
</form>

<p class="forgot-password-text">{{'general.components.form.text.passwordForgot' | translate}}
    <a routerLink="/auth/forgot-password" class="auth-social__link">{{'general.actions.click' | translate}}</a>
</p>

<div class="auth-social">
    <p class="auth-social__text">{{'general.components.form.text.loginSocial' | translate}}</p>

    <div class="auth-social-icons">
        <img src="../../../assets/images/icons/google-plus-box.png" alt="Google Plus"
             class="auth-social-icons__google">
        <img src="../../../assets/images/icons/linkedin-box.png" alt="LinkedIn"
             class="auth-social-icons__linkedin">
    </div>

    <p class="auth-social__text">{{'general.components.form.text.registerRedirect' | translate}}
        <a routerLink="/auth/register" class="auth-social__link">{{'general.actions.register' | translate}}</a>
    </p>
</div>


