<app-modal [dismissible]="dismissible"
           [class.vertical-steps]="verticalSteps">
    <ng-container modal-header>
        <div class="wizard-title">
            <ng-content select="app-wizard-title"></ng-content>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="body-wrapper">
            <ul class="steps">
                <li *ngFor="let step of steps; let index = index;"
                    [class.active]="isStepActive(index)"
                    [class.complete]="isStepComplete(index)">
                    <div class="step-card">
                        <div class="step-counter">
                            <i *ngIf="isStepComplete(index)"
                               class="material-icons">check</i>
                            <span *ngIf="!isStepComplete(index)">{{index + 1}}</span>
                        </div>
                        <div class="step-label">
                            <ng-container *ngTemplateOutlet="step.title"></ng-container>
                        </div>
                    </div>
                    <span class="separator"></span>
                </li>
            </ul>
            <div class="step-content"
                 *ngIf="activeStep">
                <ng-container *ngFor="let step of steps; let index = index;">
                    <div [hidden]="index !== activeStepIndex">
                        <ng-container
                            *ngTemplateOutlet="step.content; context: {step: step}"></ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="actions"
             *ngIf="activeStep">
            <button type="button"
                    *ngIf="isFirstStep && !dismissible"
                    class="waves-effect btn-flat back"
                    (click)="onCancelClick()">
                {{'general.actions.close'| translate}}
            </button>
            <button type="button"
                    *ngIf="!isFirstStep && !isStepAfterSubmit"
                    class="btn btn-default back"
                    (click)="prev()">
                <i class="material-icons">chevron_left</i> {{'general.actions.back'| translate}}
            </button>
            <div class="spacer"></div>
            <button *ngIf="!isLastStep && !canStepSave"
                    [disabled]="nextDisabled"
                    type="button"
                    class="btn btn-default next"
                    (click)="next()">
                {{'general.actions.next'| translate}}
                <i class="material-icons">chevron_right</i>
            </button>
            <button *ngIf="(isLastStep || canStepSave) && !isStepAfterSubmit"
                    type="button"
                    class="btn btn-default next"
                    (click)="finalSubmit()">
                {{'general.actions.save'| translate}}
            </button>
            <button *ngIf="canSkipStep"
                    type="button"
                    class="btn btn-warning next"
                    (click)="skipStep()">
                {{'general.actions.skip'| translate}}
            </button>
            <button *ngIf="isStepAfterSubmit"
                    type="button"
                    class="btn btn-warning next"
                    (click)="onCancelClick()">
                {{'general.actions.skip'| translate}}
            </button>
        </div>
    </ng-container>
</app-modal>
