@import 'src/styles/style.scss';

:host {
    .modal-title {
        font-size: 24px;
        text-align: center;
    }

    .modal-body {
        text-align: center;
        margin-top: 0;

        p {
            text-align: center;
        }

        .input-field{
            margin: 30px 0 10px 0;
            textarea{
                max-height: 66px;
            }
            .error {
                color: $bosch_red;
            }
        }
    }

    .modal-footer {
        button {
            width: 100%;
        }
    }

    .modal-content {
        margin-top: 50%;
    }
    /deep/ .popup-confirmation {
        .modal {
            width: 25%;
            height: auto;
            min-width: 390px;
            overflow-y: hidden;
            padding: 20px;
        }
        .modal-body{
            p:last-child{
                font-weight: 800;
                font-size: 17px;
            }
        }
        .modal-footer {
            height: auto;
            .btn{
                height: 65px;
                &:last-child{
                    background: #bd4647;
                    color: #ffffff;
                    box-shadow: none;
                }
                &:last-child:hover{
                    background: #c36162;
                }
            }
        }
    }
}
:host ::ng-deep {
    .app-tree {
        min-height: 270px;
        max-height: 300px;
    }

    .scanner-status {
        font-weight: 800;
        text-align: center;

        .ok {
            color: green;
        }

        .not-ok {
            color: $bosch_red;
        }
    }

    .modal-footer{
        margin-top: 10px;
    }
    .modal-body{
        margin-top: 40px;
    }
}
