<div class="page">
    <div class="content">
        <app-users-table
            [users]="users"
            [userRoles]="roles"
            [userStates]="userStates"
            [isLoading]="isLoadingUsers"
            [tableConfig]="tableConfig"
            [rowExpand]="shouldAllowUserEdit()"
            (sortChange)="onSortChange($event)"
            (filterChange)="onFilter($event)"
            (pageChange)="onPageChange($event)"
            (updateUserRole)="onUserRoleUpdate($event)"
            (updateUserStatus)="onUserStatusUpdate($event)">
        </app-users-table>
    </div>
</div>
