@import 'src/styles/style.scss';
@import 'src/styles/_variables.scss';

$completed: rgb(61, 153, 112);
$active: $blue-75;
$inactive: $silver;

:host {

    .page-stepper {
        position: relative;
        background-color: $default-panel-background-color;
        padding: $default-panel-padding;
        box-shadow: $default-box-shadow;
        height: 100%;


        .page-stepper-header {
            font-weight: $default-text-bolder-font-weight;
            font-size: $default_text_font_size;
        }

        .step-counter {
            background: $inactive;
            color: #fff;
        }

        .step-label {
        }

        .separator {
            height: 1px;
            background: rgba(0, 0, 0, .1);
        }

        .complete {
            .step-counter {
                background: $completed;
            }

            .step-label {
                color: $completed;
            }

            .separator {
                height: 2px;
                background: rgba(61, 153, 112, .5);
            }
        }

        .active {
            .step-counter {
                background: $active;
            }

            .step-label {
                color: $active;
                font-weight: 800;
            }
        }

        .steps {
            display: flex;
            position: relative;

            li {
                flex-basis: 100px;
                display: flex;
                align-items: center;
                flex: 1;

                &:last-child {
                    flex-grow: 0;
                    flex-basis: auto;

                    .separator {
                        display: none;
                    }
                }

                .step-card {
                }

                .step-counter {
                    display: inline-block;
                    vertical-align: middle;
                    width: 2rem;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 1rem;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 10px;

                    i {
                        font-size: 1rem;
                    }
                }

                .step-label {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 80px;
                }

                .separator {
                    flex: 1;
                    margin: 0 20px;
                    transition: all .4s;
                }
            }
        }

        .step-content {
            margin-top: 20px;
            border-top: solid 1px lightgray;
            padding: 2rem 0.5rem 0;
        }

        .page-stepper-footer {
            position: absolute;
            bottom: 25px;
            width: calc(100% - 2 * 20px);
        }

        .actions {
            padding: 0 1rem;
            display: flex;

            button {
                display: flex;
            }

            .spacer {
                flex: 1;
            }
        }

        .title-container {
            font-size: 2rem;
        }

    }

    .vertical-steps {
        .title-container {
            display: flex;
        }

        .body-wrapper {
            height: 100%;
            display: flex;

            .steps {
                display: block;
                width: 250px;
                border-right: solid 1px #ddd;

                .step-card {
                    width: 100%;
                    padding-bottom: 10px;

                    .step-label {
                        max-width: 100%;
                    }
                }
            }

            .step-content {
                flex: 1;
                border: none;
            }
        }
    }

}

