<div class="app-tree" [class.material]="isMaterial">
    <h5 [ngClass]="labelClass" class="tree-label">{{label}}</h5>
    <ng-container>
        <ng-container *ngTemplateOutlet="displayOnly"></ng-container>
    </ng-container>
</div>

<ng-template #displayOnly>
    <ng-container *ngIf="shouldRenderItems();else emptyMessageTemplate">
        <ng-container *ngTemplateOutlet="displayTree"></ng-container>
    </ng-container>
</ng-template>

<ng-template #displayTree>
    <p-tree id="tree"
            [loading]="loading"
            [value]="items">
        <ng-template let-node pTemplate="default">
            <input [(ngModel)]="node.label" type="text" #contextModel style="width:100%">
        </ng-template>
    </p-tree>
</ng-template>


<ng-template #emptyMessageTemplate>
    <span>{{emptyMessage}}</span>
</ng-template>
