@import 'src/styles/_variables.scss';
@import 'src/styles/style.scss';

:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    main {
        flex: 1;
        display: flex;
        flex-direction: row;

        .main-container {
            flex: 1;
        }

        &.no-sidebar {
            padding-left: 0;
        }
    }
}

@media #{$medium-and-down} {
    main {
        padding-left: 0;
    }
}
